*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* HEADER */
.cabecalho{
    background-color:#fef9f3;
    text-align: center;
    padding: 0 100px 20px 100px;
    box-shadow: 10px 2px 20px black;
}
.cabecalho img{
    width: 600px;
}

.menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}
.menu li a{
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 3px;
    color: #5c3337;
}
/* END HEADER */
/* MAIN */

main {
    padding: 20px;
    background-color: #f3d8cd;
    padding: 50px 35px;
}

.main_div_formulario {
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.form_control {
    padding: 15px;
    text-align: start;

}

.form-select {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    
}

.label_quality {
    padding: 2px;
}
.input_quality {
    /* display: flex; */
    border-radius: 12px;
    border-color: transparent;
    width: 100%;
    border: 1px solid #ced4da;
    padding: 0.375rem;
    
}
.main_div_contato {
    display: flex;
    justify-content: center;
    padding-top: 55px;
}

.main_div_form_textarea {
    display: flex;
    text-align: end;
}

.formcontrol_textarea {
    border-radius: 15px;
    border: 1px solid #ced4da ;
    padding: 3.9px;
}